/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
  /* CSS для: ширины >= 1200px */
}

/* lg-устройства (больше или равно 992px) */
@media (max-width: 992px) {

  /* CSS для: 992px <= ширины <= 1119px */
  .nav-menu-icon-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
        align-items: center;

  }
  .container-navbar{
    position: relative;

  }

  .navbar-icon {
    display: block;
    right: 0;
  }

  .navbar {
    display: none;
  }

  .icon {
    display: none;
  }

  .show-menu {
    display: inline-block;
    position: absolute;
    max-width: 250px;
    top: 30px;
    right: 70px;
    background-color: rgb(233, 233, 233);
    z-index: 100;
  }

  .show-menu a{
    color: rgb(41, 41, 41);
  }

  .show-menu a:hover{
    color: red;
  }
}

/* md-устройства (больше или равно 768px) */
@media (max-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */
  .logo-img{
    display: none;
  }

  .img-digital{
    display: none;
  }

  .modal-body-container{
    margin-left: 0px;
  }

}

/* sm-устройства (больше или равно 576px) */
@media (max-width: 576px) {
  /* CSS для: 576px <= ширины <= 767px */
  .header-container, .footer-container{
    padding: 10px 0px 10px;
}

  .logo-img{
    display: block;

  }

  .modal-dialog {
    width: 95%;
 }
  .logo-container{
    display: grid;
    justify-items: center;
}

  .navbar-icon {
    display: none;
  }

  .navbar {
    display: block;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 19px 0px rgba(34, 60, 80, 0.2) inset;


  }

  .navbar a{
    color: rgb(41, 41, 41);
    text-align: center;

  }

  .navbar a:hover{
    color: red;
  }

  .show-menu {
    display: none;
  }

  .container-about {
    padding-left: 10px;
}


.btn-about{
  margin-top: 20px;
  width: 220px;
  padding: 10px 10px;
}

.main-container{
    padding: 10px 0px 10px;
}

  .main-blok-container{
    max-width: 100%;
    box-shadow: none;

    
}

.experience-text{
  padding-left: 0px;
}

  .footer-a{
    display: grid;
    grid-template-columns: none;
    /* grid-template-rows: repeat(3, 1fr); */
}

}

/* xs - устройства (до 576px) */
/* CSS для ширины, которая меньше 575px (включительно) */



